.about {

    min-height: 75vh;

    .img-about {
        box-shadow: 15px 15px 0 $main-color;
        border-radius: 10px;
    }

    .text-about {

        h1 {
            font-family: $font-title;
            font-size: 4.5vw;
            font-weight: 900;
            text-transform: uppercase;
            color: $text-color;

        }

        p {
            font-family: $font-title;
            font-weight: 600;
            font-size: 1.2em;
            color: $text-color;
            text-align: center;
            margin: 3em 3em;

            @media (min-width: 640px) and (max-width: 1024px) {
                font-size: 1.3em;
            }
        }
    }
}