.header {

    background-image: url("../../public/assets/jeremyfond.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 50vw;
    @media (min-width: 640px) and (max-width: 1024px) {
            background-image: url("../../public/assets/jeremyfond-tablet.webp");
            height: 70vw;
        }
    
        @media (max-width: 640px) {
            background-image: url("../../public/assets/jeremyfond-mobile.webp");
            height: 120vw;
        }
}