.nav {


    & img {
        width: 30vw;
        height: auto;
        @media (max-width: 640px) {
                width: 20vw;
            }
    }

    & a {
        font-family: $font-title;

        &:hover {
            border-bottom: 1px solid $main-color;
        }
    }




}