@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');

$background-color: #262626;
$background-modale: #363636;
$main-color: #88E9D4;
$main-color-darker: #65ac9c;
$text-color: aliceblue;
$font-title: 'Montserrat', sans-serif;