@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

$background-color: #141414;
$background-modale: #363636;
$main-color: #DFC423;
$main-color-darker: #bda520;
$text-color: aliceblue;
$font-title: 'Montserrat', sans-serif;